[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/
Wants=network-online.target
After=kube-node-configuration.service

[Service]
EnvironmentFile=/etc/default/kubelet
ExecStart=/usr/bin/kubelet $KUBELET_OPTS
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=kubernetes.target