[Unit]
Description=Download and install k8s binaries and configurations
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Exec=/home/kubernetes/configuration.sh
StandardOutput=journal+console

[Install]
WantedBy=kubernetes.target