[Unit]
Description=Kubernetes health monitoring for kubelet
After=kube-node-configuration.service

[Service]
Restart=always
RestartSec=10
RemainAfterExit=yes
RemainAfterExit=yes
ExecStartPre=/bin/chmod 544 /home/kubernetes/bin/health-monitor.sh
ExecStart=/home/kubernetes/bin/health-monitor.sh kubelet

[Install]
WantedBy=kubernetes.target