[Unit]
Description=Configure kubernetes node
After=kube-node-installation.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/kubernetes/configure-helper.sh
StandardOutput=journal+console

[Install]
WantedBy=kubernetes.target